!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
! Xft.rgba:                   none
Xft.rgba:					rgb
Xft.hinting:                true
! Xft.hintstyle:              hintslight
Xft.hintstyle:              hintfull
Xft.lcdfilter:				lcddefault
Xcursor.theme:				Paper

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt*depth:                32
URxvt*geometry:             90x30
URxvt*background:				#030508
URxvt*loginShell:           true
URxvt*saveLines:            1000
URxvt*internalBorder:       3
URxvt*lineSpace:            0

URxvt.font: xft:bitbuntufull:size=8
URxvt.boldFont:
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 30
!URxvt.perl-ext: default,matcher
!URxvt.matcher.button: 1
!URxvt.url-launcher: /usr/bin/inox
URxvt.visualBell: false
URxvt.depth: 32
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*secondaryScroll: True
URxvt*cursorUnderline: False
URxvt*cursorColor: #D3D3D3
URxvt*cursorBlink: True
URxvt*underlineColor: #181818


! Fonts
!URxvt*allow_bold:           false
!URxvt*font:     xft:Tewi:medium:size=8
!URxvt*boldFont: xft:Tewi:bold:size=8


URxvt*letterSpace: 1

! Scrollbar
URxvt*scrollStyle:          rxvt
URxvt*scrollBar:            false
URxvt*scrollWithBuffer: true

! Perl extensions
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt.perl-ext-common:	default,clipboard,keyboard-select,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.underlineURLs:  True
URxvt.colorUL:	#86a2be



! Cursor
! URxvt.cursorBlink:          true
! URxvt.cursorColor:          #657b83
! URxvt.cursorUnderline:      false

! Pointer
URxvt*pointerBlank:         true

! special
*.foreground: 	#b3b8c4
*.background:	#20242c
*.cursorColor:	#FF8E31


! black
*.color0:       #213146
*.color8:       #505354

! red
*.color1:       #f91930
*.color9:       #ff1b6d

! green
*.color2:       #c9f51c
*.color10:      #93ea00

! yellow
*.color3:       #f4fd22
*.color11:      #ff6600

! blue
*.color4:       #2757d6
*.color12:      #3f78ff

! magenta
*.color5:       #8c54fe
*.color13:      #9e6ffe

! cyan
*.color6:       #38c8b5
*.color14:      #23cfd5

! white
*.color7:       #ccccc6
*.color15:      #f8f8f2


! TABS COLOURS
! URxvt.color0  : #979797
! URxvt.color1  : #000000



! ------------------------------------------------------------------------------
! ROFI
! ------------------------------------------------------------------------------
!rofi.modi: run
!rofi.font: PragmataPro 16
!rofi.width: 100
!rofi.padding: 120
!rofi.lines: 3
!rofi.columns: 1
!rofi.opacity: 80

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:				true
rofi.separator-style:			solid
rofi.hide-scrollbar: 			true
!rofi.color-normal:				argb:BF383c4a, #c4cbd4, argb:BF404552, #4084d6, #d1d4e0
!rofi.color-urgent:				argb:BF2d303b, #cc6666, argb:BF2d303b, #a54242, #d1d4e0
!rofi.color-active:				argb:BF2d303b, #b5bd68, argb:BF2d303b, #8c9440, #d1d4e0
!rofi.color-window:				argb:BF2d303b, #7c8389, #1d1f21

rofi.color-window: argb:BF383c4a, #383c4a, #000000
rofi.color-normal: argb:BF383c4a, #a6d1fa, argb:BF383c4a, #7780a1, #d1d4e0
rofi.color-active: argb:BF383c4a, #5294e2, argb:BF383c4a, #5294e2, #d1d4e0
rofi.color-urgent: argb:BF383c4a, #dc322f, argb:BF383c4a, #dc322f, #d1d4e0

