[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/poole/Desktop/Alison Desktop Stop.desktop]
row=4
col=0

[/home/poole/Desktop/Alison Desktop Start.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/poole]
row=2
col=0

